﻿@model IList<ToDoList.Models.Note>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="block">
        <form action="/Note/Search" method="post">
            <input type="text" name="name" value="" />
            <button>Search</button>

        </form>
    </div>
    <h3>List of notes</h3>
    @foreach (var note in Model)
    {
        <div class="block" style="width:auto; height:auto; border: solid 1px cornflowerblue; margin:5px; display:inline-block; position:relative">
            <span style="position:absolute; left:50%"><strong>@note.Id</strong></span>
            <br /><span><strong>Name:</strong> @note.Name</span>
            <br /><span><strong>Text:</strong> <span class="text" style="margin-left:5px; display:inline-block; max-width:300px">@note.Text</span></span>
            <br /><span><strong>Done:</strong> @if(note.Done) { <span>Done</span> } else { <span>Not done</span>} </span>
            <br /><span><strong>Tag:</strong> @note.Tag</span>
        </div>
    }
    <br />
     
     @Html.ActionLink("Create new note", "Create")

</div>

@section scripts
{
    <script>

    </script>
}